{% extends "base.html" %}

{% load static %}

{% block title %}TimelFame Social Network: Available URIsine{% endblock %}

{% block body %}


<div class="container-fluid">
    <h1 class="text-center">Available URIs</h1>
</div>
<div class="container">

    <table class="table">
    <thead>
    <th class="bg-transparent" scope="col"></th>
    <th class="bg-transparent" scope="col"><h2 class="text-center">Fame App</h2></th>
    <th class="bg-transparent" scope="col"><h2 class="text-center">Social Network App</h2></th>
    </thead>

    <tbody>
        <tr>
            <th class="bg-transparent" scope="row"> <h3>API</h3></th>
            <td class="bg-transparent">
                <div class="btn-group col d-flex justify-content-center">
                    <a type="button" class="btn btn-outline-secondary" href="/fame/api/users">Users</a>
                    <a type="button" class="btn btn-outline-secondary" href="/fame/api/fame">Fame</a>
                    <a type="button" class="btn btn-outline-secondary" href="/fame/api/expertise_areas">Expertise Areas</a>
                </div>
            </td>
            <td class="bg-transparent">
                <div class="btn-group d-flex justify-content-center">
                    <a type="button" class="btn btn-outline-secondary" href="/sn/api/posts?published=True">Published Posts</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/api/posts?published=False">Unpublished Posts</a>
                </div>
            </td>
        </tr>
        <tr>
            <th class="bg-transparent" scope="row"> <h3>HTML Views</h3></th>
            <td class="bg-transparent">
               <div class="btn-group d-flex justify-content-center">
                    <a type="button" class="btn btn-outline-secondary" href="/sn/html/bullshitters">Bullshitters</a>
               </div>
            </td>
            <td class="bg-transparent">
                <div class="btn-group d-flex justify-content-center">
                    <a type="button" class="btn btn-outline-secondary" href="/">Login</a>
                    <form type="button" class="btn btn-outline-secondary" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">logout</button>
                    </form>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/html/timeline?published=True">Published Posts Timeline</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/html/timeline?published=False">Unpublished Posts Timeline</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/html/timeline?search=around">Search (with keyword "around")</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="bg-transparent mb-5"></div>
<div class="container-fluid text-center">
    <h1>Different Color-Themes from <a href="https://bootswatch.com/" target="_blank">https://bootswatch.com/</a>.</h1>
        <div class="btn-group col d-flex justify-content-center">
                    <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=auto">Default</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=glass">Glass</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=sketch">Sketch (reccomended)</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=vapor">Vapor</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=morph">Morph</a>
                    <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=united">United (reccomended)</a>

                </div>
</div>

 <!--   <h2>Fame App</h2>
    <div class="row">
    <h3 class="col">API</h3>
    <div class="btn-group col">
            <a type="button" class="btn btn-outline-secondary" href="/fame/api/users">Users</a>
            <a type="button" class="btn btn-outline-secondary" href="/fame/api/fame">Fame</a>
            <a type="button" class="btn btn-outline-secondary" href="/fame/api/expertise_areas">Expertise Areas</a>
    </div>
    </div>
    <h3>HTML Views</h3>
    <div class="btn-group">
            <a type="button" class="btn btn-secondary" href="/sn/html/bullshitters">
            Bullshitters</a>
    </div>
    <h2>Social Network App</h2>
    <h3>API</h3>
    <div class="btn-group">
            <a type="button" class="btn btn-outline-secondary" href="/sn/api/posts?published=True">Published Posts</a>
            <a type="button" class="btn btn-outline-secondary" href="/sn/api/posts?published=False">Unpublished Posts</a>
    </div>
    <h3>HTML Views</h3>
    <div class="btn-group">

            <a type="button" class="btn btn-secondary" href="/">Login</a>
            <form type="button" class="btn btn-secondary" method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
            <a type="button" class="btn btn-secondary" href="/sn/html/timeline?published=True">Published Posts Timeline</a>
            <a type="button" class="btn btn-secondary" href="/sn/html/timeline?published=False">Unpublished Posts Timeline</a>
            <a type="button" class="btn btn-secondary" href="/sn/html/timeline?search=around">Search (with keyword "around")</a>
    </div>

{% endblock %}
