{% load static themeHelper %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="text/html"/>
    <title>{% block title %}Default title{% endblock %}</title>
    <link
            rel="stylesheet"
            href="{% static 'bootstrap.min.css' %}"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'bootstrap-icons.css' %}"
    />
    <link
            rel="stylesheet"
            href="{% static 'fa/css/all.min.css' %}"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    />
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- added -->
    {% if theme %}<link
            rel="stylesheet"
            href="{% static theme|parseTheme %}"
    />{% endif %}
    <!-- added -->
</head>

<body class="d-flex flex-column min-vh-100">

<div class="body-content">
    <header class="sticky-top">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="navbar-brand" href="{% url 'sn:timeline' %}">Home</a>
                </li>
                <!--<li class="nav-item active">
                    <a class="navbar-brand" href="{% url 'home' %}">URIs</a>
                </li>-->
            {% endif %}
        </ul>
        <ul class="navbar-nav active">
            {% if user.is_authenticated %}
                <div class="input-group">
                  <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'home' %}">URIs</a>

                  <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>

                  <ul class="dropdown-menu">
                      <li class="dropdown-item bg-transparent">
                          <a type="button" class="btn btn-outline-secondary" href="/fame/api/users">Users</a>
                          <a type="button" class="btn btn-outline-secondary" href="/fame/api/fame">Fame</a>
                          <a type="button" class="btn btn-outline-secondary" href="/fame/api/expertise_areas">Expertise Areas</a>
                      </li>
                      <li class="dropdown-item bg-transparent">
                        <a type="button" class="btn btn-outline-secondary" href="/sn/api/posts?published=True">Published Posts</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/api/posts?published=False">Unpublished Posts</a>
                      </li>
                    <li><hr class="dropdown-divider"></li>

                    <li class="dropdown-item bg-transparent">
                        <a type="button" class="btn btn-outline-secondary" href="/sn/html/bullshitters">Bullshitters</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/html/similarusers">Similar Users (to YOU)</a>
                    </li>
                    <li class="dropdown-item bg-transparent">
                        <a type="button" class="btn btn-outline-secondary" href="/">Login</a>
                        <form type="button" class="btn btn-outline-secondary" method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit">logout</button>
                        </form>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/html/timeline?published=True">Published Posts Timeline</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/html/timeline?published=False">Unpublished Posts Timeline</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/html/timeline?search=around">Search (with keyword "around")</a>
                    </li><li><hr class="dropdown-divider"></li>

                    <li class="dropdown-item bg-transparent">
                        <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=auto&redirect={{ request.build_absolute_uri }}">Default</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=glass&redirect={{ request.build_absolute_uri }}">Glass</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=sketch&redirect={{ request.build_absolute_uri }}">Sketch (reccomended)</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=vapor&redirect={{ request.build_absolute_uri }}">Vapor</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=morph&redirect={{ request.build_absolute_uri }}">Morph</a>
                        <a type="button" class="btn btn-outline-secondary" href="/sn/change_theme?theme=united&redirect={{ request.build_absolute_uri }}">United (reccomended)</a>
                        <a type="button" class="btn btn-outline-secondary" href="{{ current_page }}">Unixcvyv)</a>
                    </li>

                  </ul>
                </div>
            {% endif %}
        </ul>



{% if user.is_authenticated %}
             <ul class="navbar-nav">

             <form action="{% url 'sn:toggle_community_mode' %}" method="POST" class="px-2 py-1">
                            {% csrf_token %}
                 {% if request.session.community_mode %}
                 <button type="submit" class="btn btn-secondary mb-0">Community Mode</button>
                 {% else %}
                 <button type="submit" class="btn btn-primary mb-0">Standard Mode</button>
                 {% endif %}
             </form>
            </ul>
            {% if request.session.community_mode %}
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Communities
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><div class="dropdown-item d-flex flex-wrap gap-2 bg-transparent">
                                    {% for community in joined_communities %}
                                        <a class="col btn btn-sm btn-outline-info" href="communities?community_id={{ community.id }}">{{ community.label }}</a>
                                    {% endfor %}
                                </div></li>
          </ul>
        </li>
      </ul>
    </div>
            {% endif %}
    {% endif %}

        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" data-testid="navbar_user_section">
                        <span>{{ request.user.first_name }} {{ request.user.last_name }}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Community Mode Toggle Button -->
                        <form action="{% url 'sn:toggle_community_mode' %}" method="POST" class="px-2 py-1">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-{% if request.session.community_mode %}primary{% else %}secondary{% endif %} btn-sm w-100">
                                {% if request.session.community_mode %}
                                    Standard Mode
                                {% else %}
                                    Community Mode
                                {% endif %}
                            </button>
                        </form>
                        <!-- Logout Button -->
                        <form method="post" action="{% url 'logout' %}" class="px-2 py-1">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning btn-sm w-100">Logout</button>
                        </form>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <span class="nav-link">Not logged in</span>
                </li>
            {% endif %}
        </ul>
    </nav>
    </header>

    <div id="wrap">
        <div class="container-fluid" id="main">
            <div class="mb-2"></div> <!-- added spacing -->
            {% block body %} {% endblock %}
            <div class="mb-5"></div> <!-- added spacing -->
        </div>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %} {% if color_theme %}<link rel="stylesheet" href="{{ color_theme }}">{% endif %}{% endblock %}

    <footer
            class="page-footer fixed-bottom font-small bg-dark pt-1"
            style="color: gray"
    >
        <div style="display: flex; justify-content: space-between">
            <div style="margin-left: 10px; margin-right: 10px">Fame Social Network</div>
            <div style="margin-right: 10px">
                <a
                        style="color: gray"
                        href="https://www.uni-saarland.de/en/legal-notice.html"
                        data-testid="footer_impressum"
                >Impressum/Legal Notice</a>
            </div>
        </div>
    </footer>

</div>
</body>
</html>
